footer {
    background-color: lightgray;
    padding: 25px;
    text-align: center;
}

.loginForm{
}

.logo {
    /*max-height: 240px;*/
    height: 20%;
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
    background-color: black;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    padding: 8px;
    color: #f6f5f4;
}

.nav a:hover {
    background-color: lightgray;
    color: black;
}

.formTemplate{
    /*margin: 15px;*/
    align-items: center;
}

.list{
    align-items: center;
}

.list table{
    width: 100%;
}
.list th{
    padding: 20px;
}
.list table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

