footer {
    padding: 15px 0;
    background-color: lightgray;
    color: black;
    /*padding: 25px;*/
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.loginForm table {
    width: 55%;
    align-items: center;
    margin: auto;
}

.loginForm th {
    padding: 20px;
}

.loginForm table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.loginForm input {
    border: 0;
    width: 100%;
}

.loginForm button {
    display: inline-block;
    border: 0;
    width: 100%;
    background-color: #9c88ff;
    /*size: auto;*/
}

.loginForm button:hover {
    background-color: #8c7ae6;
}

.btnLogin{
}

.btnBack{

}

#loginText {
    text-align: left;

}

/*#tdId{*/
/*    !*width: 60%;*!*/
/*    width: 100%;*/
/*}*/

/*#tdLogin{*/
/*    !*width: 40%;*!*/
/*    width: 100%;*/
/*}*/

.logo {
    /*max-height: 240px;*/
    height: 20%;
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    padding: 8px;
    color: #f6f5f4;
}

.nav a:hover {
    background-color: lightgray;
    color: black;
}


.list {
    align-items: center;
}

.list table {
    margin : auto;
    width: 90%;
}

.list th {
    padding: 20px;
    background-color: aliceblue;
}

.list thead tr{
    background-color: blanchedalmond;
}

.list table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.list a:hover{
    background-color: #8c7ae6;
}
.list a:link {
    color: black;
    text-decoration: none;
}
.list a:visited{
    color: black;
    text-decoration: none;
}


